<table class="table lessons-list card card-strong">
  <tbody>
    <tr *ngFor="let lesson of lessons">
      <td class="viewed">
        <input type="checkbox" [checked]="lesson.completed" (click)="toggleLessonViewed(lesson)">
      </td>
      <td [ngClass]="{'lesson-viewed':lesson.completed}" class="lesson-title">
        {{ lesson.description }}
      </td>
      <td class="duration">
        <i class="md-icon duration-icon">access_time</i>
        <span>{{ lesson.duration }}</span>
      </td>
      <td class="actions">
        <button class="button button-highlight" (click)="deleteLesson(lesson)">x</button>
      </td>
    </tr>
  </tbody>
</table>
